@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard-Regular'),
    url('./assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
    url('./assets/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard-Medium'),
    url('./assets/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
    url('./assets/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard-Bold'),
    url('./assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
    url('./assets/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: NotoSans;
  font-weight: 400;
  font-display: swap;
  src: local('NotoSansKR-Regular'),
    url('./assets/fonts/NotoSans/NotoSansKR-Regular.woff') format('woff'),
    url('./assets/fonts/NotoSans/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: NotoSans;
  font-weight: 500;
  font-display: swap;
  src: local('NotoSansKR-Medium'),
    url('./assets/fonts/NotoSans/NotoSansKR-Medium.woff') format('woff'),
    url('./assets/fonts/NotoSans/NotoSansKR-Medium.woff2') format('woff2');
}

@font-face {
  font-family: NotoSans;
  font-weight: 700;
  font-display: swap;
  src: local('NotoSansKR-Bold'), url('./assets/fonts/NotoSans/NotoSansKR-Bold.woff') format('woff'),
    url('./assets/fonts/NotoSans/NotoSansKR-Bold.woff2') format('woff2');
}

@font-face {
  font-family: NanumMyeongjo;
  font-weight: 400;
  font-display: swap;
  src: local('NanumMyeongjo'), url('./assets/fonts/NanumMyeongjo/NanumMyeongjo.woff') format('woff'),
    url('./assets/fonts/NanumMyeongjo/NanumMyeongjo.woff2') format('woff2');
}

@font-face {
  font-family: NanumMyeongjo;
  font-weight: 700;
  font-display: swap;
  src: local('NanumMyeongjoBold'),
    url('./assets/fonts/NanumMyeongjo/NanumMyeongjoBold.woff') format('woff'),
    url('./assets/fonts/NanumMyeongjo/NanumMyeongjoBold.woff2') format('woff2');
}

@font-face {
  font-family: NanumHandWriting;
  font-weight: 400;
  font-display: swap;
  src: local('NanumHandWriting'),
    url('./assets/fonts/NanumHandWriting/NanumHandWriting.woff') format('woff'),
    url('./assets/fonts/NanumHandWriting/NanumHandWriting.woff2') format('woff2');
}

:root {
  font-family: Inter, pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: #fff;
  --black: #000;
  --Error: #dc3a3a;
  --Surface: #f6f8ff;

  --purple-100: #f8f0ff;
  --purple-200: #ecd9ff;
  --purple-300: #dcb9ff;
  --purple-400: #c894fd;
  --purple-500: #ab57ff;
  --purple-600: #9935ff;
  --purple-700: #861dee;

  --orange-100: #fff0d6;
  --orange-200: #ffe2ad;
  --orange-300: #ffc583;
  --orange-400: #ffae65;
  --orange-500: #ff8832;

  --blue-100: #e2f5ff;
  --blue-200: #b1e4ff;
  --blue-300: #7cd2ff;
  --blue-400: #34b9ff;
  --blue-500: #00a2fe;

  --green-100: #e4fbdc;
  --green-200: #d0f5c3;
  --green-300: #9be282;
  --green-400: #60cf37;
  --green-500: #2ba600;

  --gray-100: #f6f6f6;
  --gray-200: #eee;
  --gray-300: #ccc;
  --gray-400: #999;
  --gray-500: #555;
  --gray-600: #4a4a4a;
  --gray-700: #3a3a3a;
  --gray-800: #2b2b2b;
  --gray-900: #181818;
}

.rounded-4xl {
  border-radius: 32px;
}

/*ScrollBar Design */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
