@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Pretendard;
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard-Regular'),
    url('./assets/fonts/Pretendard/Pretendard-Regular.woff') format('woff'),
    url('./assets/fonts/Pretendard/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard-Medium'),
    url('./assets/fonts/Pretendard/Pretendard-Medium.woff') format('woff'),
    url('./assets/fonts/Pretendard/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Pretendard;
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard-Bold'),
    url('./assets/fonts/Pretendard/Pretendard-Bold.woff') format('woff'),
    url('./assets/fonts/Pretendard/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: NotoSans;
  font-weight: 400;
  font-display: swap;
  src: local('NotoSansKR-Regular'),
    url('./assets/fonts/NotoSans/NotoSansKR-Regular.woff') format('woff'),
    url('./assets/fonts/NotoSans/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: NotoSans;
  font-weight: 500;
  font-display: swap;
  src: local('NotoSansKR-Medium'),
    url('./assets/fonts/NotoSans/NotoSansKR-Medium.woff') format('woff'),
    url('./assets/fonts/NotoSans/NotoSansKR-Medium.woff2') format('woff2');
}

@font-face {
  font-family: NotoSans;
  font-weight: 700;
  font-display: swap;
  src: local('NotoSansKR-Bold'), url('./assets/fonts/NotoSans/NotoSansKR-Bold.woff') format('woff'),
    url('./assets/fonts/NotoSans/NotoSansKR-Bold.woff2') format('woff2');
}

@font-face {
  font-family: NanumMyeongjo;
  font-weight: 400;
  font-display: swap;
  src: local('NanumMyeongjo'), url('./assets/fonts/NotoSans/NanumMyeongjo.woff') format('woff'),
    url('./assets/fonts/NotoSans/NanumMyeongjo.woff2') format('woff2');
}

@font-face {
  font-family: NanumMyeongjo;
  font-weight: 700;
  font-display: swap;
  src: local('NanumMyeongjoBold'),
    url('./assets/fonts/NotoSans/NanumMyeongjoBold.woff') format('woff'),
    url('./assets/fonts/NotoSans/NanumMyeongjoBold.woff2') format('woff2');
}

@font-face {
  font-family: NanumHandWriting;
  font-weight: 400;
  font-display: swap;
  src: local('NanumHandWriting'),
    url('./assets/fonts/NotoSans/NanumHandWriting.woff') format('woff'),
    url('./assets/fonts/NotoSans/NanumHandWriting.woff2') format('woff2');
}

:root {
  font-family: Inter, pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  --Surface: #f6f8ff;
  --purple-700: #861dee;
  --gray-300: #ccc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rounded-4xl {
  border-radius: 32px;
}
